<!-- main content -->
<div class="row main-content">
    <div class="col-lg-12">
        <div ng-class="isNew ? 'animated fadeIn' : ''">
            <p><a ui-sref="hub.project( {projectId: discussion.project.id} )">Back to project</a></p>
            <ul>
                <li ng-repeat="comment in discussion.comments">{{ comment.text }}</li>
            </ul>
            <hr/>
        </div>
    </div>
</div>
<!-- #main content -->

<!-- footer -->
<footer class="footer">
    <div class="row">
        <div class="col-lg-12">

            <form role="form" novalidate name="discussionCommentForm">
                <div class="form-group" show-errors>
                    <label for="comment">Comment</label>

                    <div text-angular
                     name="comment"
                     ng-model="newComment.text"
                     placeholder="Add a comment.."
                     required="true"
                     ng-required="true"></div>

                </div>
                <button type="submit" class="btn btn-primary" ng-click="addComment(discussionCommentForm)">Add Comment
                </button>
            </form>
        </div>
    </div>
</footer>
<!-- #footer -->