<!-- main content -->
<div class="row main-content">
    <div class="col-lg-6">
        <h4>Add a new discussion</h4>

        <form role="form" novalidate name="discussionForm">

            <div class="form-group" show-errors>
                <label for="subject">Subject</label>
                <input type="text" class="form-control" name="subject" placeholder="Subject of discussion"
                       ng-model="discussion.topic" required auto-focus/>
            </div>

            <div class="form-group" show-errors>
                <label for="members">Members</label>

                <ui-select multiple name="members" ng-model="discussion.members" required="true" ng-required="true">
                    <ui-select-match placeholder="Add a member...">{{ $item.full_name }}</ui-select-match>
                    <ui-select-choices
                            repeat="user in projectMembers | propsFilter: {first_name: $select.search, last_name: $select.search}">
                        <div ng-bind-html="user.full_name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="form-group" show-errors>
                <label for="comment">Comment</label>

                <div text-angular
                     name="comment"
                     ng-model="discussion.comment"
                     placeholder="Add a comment.."
                     required="true"
                     ng-required="true"></div>
            </div>

            <button type="submit" class="btn btn-primary" ng-click="save()">Add</button>
            <a ui-sref="hub.project({ projectId: discussion.project})" class="btn btn-default">Cancel</a>
        </form>
    </div>
</div>
<!-- #main content -->
