{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ProjectHub {% block title %}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Howie Weiner, builtbyhowie.co.uk for Boomerang PR">
    <meta name="description" content="">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=yes">
    <!--link rel="shortcut icon" href=""-->

    <!-- Google font -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic' rel='stylesheet' type='text/css'>

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/projecthub.css' %}"/>
    <link rel="stylesheet" href="{% get_static_prefix %}css/env/{{ settings.ENV }}.css"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="{% static 'js/lib.js' %}"></script>
    <script src="{% static 'js/projecthub.js' %}"></script>
    <script src="{% static 'js/tpl.js' %}"></script>

    {% if debug %}
        <script src="//localhost:35729/livereload.js"></script>
    {% endif %}

    {% block extra_head_js %}{% endblock %}
    {% block extra_css %}{% endblock %}
</head>
{% block content %}{% endblock %}
</html>