{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ProjectHub {% block title %}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Howie Weiner, builtbyhowie.co.uk for Boomerang PR">
    <meta name="description" content="">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=yes">
    <!--link rel="shortcut icon" href=""-->
    <link rel="stylesheet" href="{% static 'css/app.css' %}"/>
    <link rel="stylesheet" href="{% get_static_prefix %}css/env/{{ settings.ENV }}.css"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.0.8/es5-shim.min.js"></script>
    <![endif]-->
    {% block extra_head_js %}{% endblock %}
    {% block extra_css %}{% endblock %}
</head>

{% block body_tag %}
    <body class="login">
{% endblock %}
    <div class='login-logo'>
        <img src="{% static 'images/bbh_logo.png' %}" width="60px"/>
    </div>

    <div class='middle-container'>
        <div class='middle-row'>
            <div class='middle-wrapper'>

                <div class='login-header'>
                    <div class='container'>
                        <div class='row'>
                            <div class='col-sm-12'>
                                <div class='text-center'>
                                    <h2>ProjectHub</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='login-container'>
                    <div class='container'>
                        <div class='row'>
                            <div class='col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3'>
                                {% block login-container %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class='login-footer'>
                    <div class='container'>
                        <div class='row'>
                            <div class='col-sm-12'>
                                <div class='text-center'>
                                    &copy; 2014 Built By Howie Limited &nbsp;
                                    <span class="env">{{ settings.ENV|title }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

<script src="{% static 'js/lib/jquery-1.11.0.js' %}"></script>
<script src="{% static 'js/lib/bootstrap.js' %}"></script>
</body>
</html>