{% if messages %}
    <div class="row">
        <div class="col-xs-12">
        {% for message in messages %}
            <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %} alert-dismissable fade in" id="success-msg">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {% if message.tags == 'success' %}
                    <h4><i class="fa fa-check fa-1x"></i> Success</h4>
                {% endif %}
                {{ message }}
            </div>
        {% endfor %}
        </div>
    </div>
{% endif %}




