{% extends "base_login.html" %}
{% load crispy_forms_tags %}

{% block page-title %}Client login{% endblock page-title %}

{% block login-container %}
      <h1 class='text-center title'>Sign in</h1>
      <form method="post" action="{% url 'login' %}" class="validate-login">
        <input type="hidden" name="next" value="{% url 'dashboard' %}" />
        {% crispy form %}
      </form>
      <div class='text-center'>
        <hr class='hr-normal'>
        <a href='{% url 'password_reset' %}'>Forgot your password?</a>
      </div>
{% endblock %}
