{% extends "base_login.html" %}

{% block page-title %}Password Change{% endblock page-title %}

{% block login-container %}
  <h1 class='text-center title'>Password change</h1>
    <p>Please enter your old password first, then enter your new password twice so we can verify you typed it in correctly.</p>
    <form action="" method="post">
        {% csrf_token %}

        <div class="form-group{% if form.old_password.errors %} has-error{% endif %}">
          <div class="controls">
            <input type="password" id="id_old_password" name="old_password" placeholder="Old Password" class="form-control">
            {% if form.old_password.errors %}
                <span class="help-block">
                    {% for error in form.old_password.errors %}
                    <strong>{{ error|escape }}</strong>
                    {% endfor %}
                </span>
            {% endif %}
          </div>
        </div>

        <div class="form-group{% if form.new_password1.errors %} has-error{% endif %}">
          <div class="controls">
            <input type="password" id="id_new_password1" name="new_password1" placeholder="New Password" class="form-control">
            {% if form.new_password1.errors %}
                <span class="help-block">
                    {% for error in form.new_password1.errors %}
                    <strong>{{ error|escape }}</strong>
                    {% endfor %}
                </span>
            {% endif %}
          </div>
        </div>

        <div class="form-group{% if form.new_password2.errors %} has-error{% endif %}">
          <div class="controls">
            <input type="password" id="id_new_password2" name="new_password2" placeholder="Repeat Password" class="form-control">
            {% if form.new_password2.errors %}
                <span class="help-block">
                    {% for error in form.new_password2.errors %}
                    <strong>{{ error|escape }}</strong>
                    {% endfor %}
                </span>
            {% endif %}
          </div>
        </div>

        <div class="form-buttons">
            <input type="submit" value="Save changes" class="btn btn-primary" />
        </div>
    </form>
    <div class="text-center">
        <hr class="hr-normal">
        <a href="{% url 'login' %}">Back to login page</a>
    </div>
{% endblock %}
