{% extends "base_login.html" %}

{% block page-title %}Password Reset Successful{% endblock page-title %}

{% block login-container %}
  <h1 class='text-center title'>Password reset</h1>
    <p class="text-center">Your password has been reset. You have been sent an email.</p>
    <div class="text-center">
        <hr class="hr-normal">
        <a href="{% url 'login' %}">Back to login page</a>
    </div>
{% endblock %}
