{% extends "base_login.html" %}

{% block page-title %}Password Change Successful{% endblock page-title %}

{% block login-container %}
  <h1 class='text-center title'>Password changed</h1>
    <p>Your password was changed successfully. You may go ahead and <a href="{% url 'login' %}"><strong>login</strong></a> now.</p>
    <div class="text-center">
        <hr class="hr-normal">
        <a href="{% url 'login' %}">Back to login page</a>
    </div>
{% endblock %}