{% extends "base_login.html" %}

{% block page-title %}Password Reset Complete{% endblock page-title %}

{% block login-container %}
  <h1 class='text-center title'>Password reset complete</h1>
    <p class="text-center">Your password has been set. You may go ahead and <a href="{% url 'login' %}"><strong>login</strong></a> now.</p>
    <div class="text-center">
        <hr class="hr-normal">
        <a href="{% url 'login' %}">Back to login page</a>
    </div>
{% endblock %}
