{% extends "base_login.html" %}

{% block page-title %}Enter New Password{% endblock page-title %}

{% block login-container %}
    {% if validlink %}
    <h1 class='text-center title'>Enter new password</h1>

    <form method="post" action="" class="login">
        {% csrf_token %}

        <div class='form-group{% if form.new_password1.errors %} has-error{% endif %}'>
          <div class='controls'>
              <input value="" placeholder="New Password" class="form-control" data-rule-required="true" name="new_password1" id="id_password1" type="password" />
              {% if form.new_password1.errors %}
                  <span class="help-block">
                    {% for error in form.new_password1.errors %}
                    <strong>{{ error|escape }}</strong>
                    {% endfor %}
                  </span>
              {% endif %}
          </div>
        </div>

        <div class='form-group{% if form.new_password2.errors %} has-error{% endif %}'>
          <div class='controls'>
              <input value="" placeholder="Confirm Password" class="form-control" data-rule-required="true" name="new_password2" id="id_password2" type="password" />
              {% if form.new_password2.errors %}
                  <span class="help-block">
                    {% for error in form.new_password2.errors %}
                    <strong>{{ error|escape }}</strong>
                    {% endfor %}
                  </span>
              {% endif %}
          </div>
        </div>

        <div class="form-buttons">
            <input type="submit" value="Change my password" class="btn btn-primary" />
        </div>
    </form>
    {% else %}
    <h1 class="text-center title">Password reset unsuccessful</h1>
    <p class="text-center">The password reset link was invalid, possibly because it has already been used.</p>
    <p class="text-center">Please <a href="{% url 'password_reset' %}">request a new password reset</a>.</p>
    {% endif %}

   <div class="text-center">
    <hr class="hr-normal">
    <a href="{% url 'login' %}">Back to login page</a>
   </div>
{% endblock %}
