{% extends "base_login.html" %}

{% block page-title %}Password Reset{% endblock page-title %}

{% block login-container %}
  <h1 class='text-center title'>Password reset</h1>
    <p>Please enter your email address and we will send you a password reset link.</p>
    <form action="" method="post">
        {% csrf_token %}

        <div class='form-group{% if form.email.errors %} has-error{% endif %}'>
          <div class='controls'>
              <input value="" placeholder="E-mail" class="form-control" data-rule-required="true" name="email" id="id_email" type="text" />
              {% if form.email.errors %}
                  <span class="help-block">
                    {% for error in form.email.errors %}
                    <strong>{{ error|escape }}</strong>
                    {% endfor %}
                  </span>
              {% endif %}
          </div>
        </div>

        <div class="form-buttons">
            <input type="submit" value="E-mail me the link" class="btn btn-primary" />
        </div>
    </form>
    <div class="text-center">
        <hr class="hr-normal">
        <a href="{% url 'login' %}">Back to login page</a>
    </div>
{% endblock %}
