<!-- main content -->
<div class="row main-content">
    <div class="col-lg-12">
        <div>
            <a class="btn btn-primary" ui-sref="hub.addDiscussion({ projectId: project.id })">New discussion</a>
        </div>
        <hr/>
        <ul class="list-group discussion-list">
            <li class="list-group-item" ng-repeat="discussion in project.discussions">
                <a ui-sref="hub.discussion({ projectId: project.id, discussionId: discussion.id })">
                    {{ discussion.topic }}
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- #main content -->