html, body {
  width: 100%;
  height: 100%
}

.nav, .pagination, .carousel a { cursor: pointer; }

body {
  min-height: 100%;
  position: relative;
  background: rgb(251, 251, 251)
}

.wrapper {
  padding-top: 50px;
  margin-bottom: -31px;
  padding-bottom: 31px;
  min-height: 100%;
  height: auto;
}

.main-content, .page-footer {
  position: relative;
//  margin-left: 251px;

  .container {
    position: relative;
    width: 100% !important;
    max-width: 1170px;

    &.full-width {
      max-width: 100%;
    }
  }
}

//.side-nav-closed {
//  .main-content, .page-footer {
//    margin-left: 46px;
//  }
//}

.page-header {
  background: #ffffff;
  margin-top: -30px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 20px;
  padding: 0 0 0 30px;
  min-height: 85px;

  h1 {
    font-size: 28px;
    padding-top: 28px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: @screen-sm) {
      width: 470px;
    }
    @media (min-width: @screen-md) {
      width: 741px;
    }
    @media (min-width: @screen-lg-min) {
      width: 1140px;
    }
  }
}

.page-footer {
  height: 30px;
  line-height: 30px;
  color: #aaa;
  font-size: 12px;

  div div {
    border-top: 1px solid #ddd;
  }
}

.navbar-default .navbar-brand {
  color: #fff !important;
}

//----------------------------------------------------------------------------------------------------------------------
//  No Nav pages e.g. login
//----------------------------------------------------------------------------------------------------------------------
body.no-nav {
  background: @BrandPrimary;
  position: relative;

    h1, h2 {
      color: #fff;
    }

  .middle-container {
    overflow: visible;
    display: table;
    position: static;
    width: 100%;
    height: 100%;

    .middle-row {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      position: static;

      .middle-wrapper {
        position: static;
      }
    }
  }

  .login-container-header {
    padding: 30px 0 40px 0;

    @media (min-width: 768px) {
      padding: 10px 0 40px 0;
    }
  }

  .login-container {
    background-color: #fff;
    position: relative;
    padding: 40px 0;
    .box-shadow(0 1px 3px rgba(0,0,0,.3));

    &:before {
      content: "";
      position: absolute;
      margin-left: -10px;
      left: 50%;
      top: -10px;
      border-bottom: 10px solid #fff;
      border-top: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }

    .title {
      margin: 0;
      margin-bottom: 20px;
    }

    .with-icon-over-input {
      position: relative;

      [class^="icon-"] {
        position: absolute;
        right: 10px;
        top: 9px;
      }

      input[type="text"] {
        padding-right: 28px;
      }
    }
  }

  .login-container-footer {
    padding: 20px 0;
    color: #fff;

    a {
      color: #222;
      text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    }
  }

  .btn-primary {
    background-color: @BrandPrimary;
    border-color: #fff;

    &:hover {
      background-color: darken(@BrandPrimary, 3%);
    }
  }
}

//----------------------------------------------------------------------------------------------------------------------
//  Box
//----------------------------------------------------------------------------------------------------------------------
.box {
  margin-bottom: 20px;
  position: relative;
}

.box .box-header {
  color: darken(@BrandPrimary, 65%);
  background: #ddd;
}

.box .box-header {
font-size: 21px;
font-weight: 200;
line-height: 30px;
padding: 10px 15px;
}

.box .box-content.box-double-padding {
padding: 40px;
}

.box .box-content {
padding: 10px;
border: 1px solid #dddddd;
background: white;
display: block;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
}

.bordered-box {
  border: 1px solid #ddd;
}

//----------------------------------------------------------------------------------------------------------------------
//  Messages
//----------------------------------------------------------------------------------------------------------------------
.warning-msg {
    height: 40px;
    line-height: 40px;

   i {
     margin-top: 7px;
   }
}

//----------------------------------------------------------------------------------------------------------------------
//  Angular UI
//----------------------------------------------------------------------------------------------------------------------
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }