.text-bbh {
  color: @BrandPrimary !important; }

.bbh-background {
  background-color: @BrandPrimary !important;
  color: #fff !important; }

.inOliveGreen-background {
  background-color: #6A8455 !important; }

.text-oliveGreen {
  color: #6A8455 !important; }

.text-error {
  color: #f34541 !important; }

.text-success {
  color: #49bf67 !important; }

.text-primary {
  color: #00acec !important; }

.text-warning {
  color: #f8a326 !important; }

.text-info {
  color: #9564e2 !important; }

.text-muted {
  color: #999999 !important; }

.text-orange {
  color: #f8a326 !important; }

.text-action {
  color: #f4f4f4 !important; }

.action-background {
  background-color: #f4f4f4 !important; }

.text-contrast {
  color: #f34541 !important; }

.contrast-background {
  background-color: #f34541 !important; }

.contrast-border {
  border-color: #f34541 !important; }

.orange-background {
  background-color: #f8a326 !important; }

.orange-border {
  border-color: #f8a326 !important; }

.text-blue {
  color: #00acec !important; }

.blue-background {
  background-color: #00acec !important;
  color: #fff !important; }

.blue-border {
  border-color: #00acec !important; }

.text-purple {
  color: #9564e2 !important; }

.purple-background {
  background-color: #9564e2 !important; }

.purple-border {
  border-color: #9564e2 !important; }

.text-green {
  color: #49bf67 !important; }

.green-background {
  background-color: #49bf67 !important; }

.green-border {
  border-color: #49bf67 !important; }

.text-red {
  color: #f34541 !important; }

.red-background {
  background-color: #f34541 !important; }

.red-border {
  border-color: #f34541 !important; }

.text-muted {
  color: #999999 !important; }

.muted-background {
  background-color: #999999 !important; }

.muted-border {
  border-color: #999999 !important; }

.text-fb {
  color: #3d579d !important; }

.fb-background {
  background-color: #3d579d !important; }

.fb-border {
  border-color: #3d579d !important; }

.text-dark {
  color: #2b2d30 !important; }

.dark-background {
  background-color: #2b2d30 !important; }

.dark-border {
  border-color: #2b2d30 !important; }

.text-pink {
  color: #c44a83 !important; }

.pink-background {
  background-color: #c44a83 !important; }

.pink-border {
  border-color: #c44a83 !important; }

.text-grass-green {
  color: #5daf2b !important; }

.grass-green-background {
  background-color: #5daf2b !important; }

.grass-green-border {
  border-color: #5daf2b !important; }

.text-sea-blue {
  color: #0163ac !important; }

.sea-blue-background {
  background-color: #0163ac !important; }

.sea-blue-border {
  border-color: #0163ac !important; }

.text-banana {
  color: #fcd052 !important; }

.banana-background {
  background-color: #fcd052 !important; }

.banana-border {
  border-color: #fcd052 !important; }

.text-dark-orange {
  color: #f56e00 !important; }

.dark-orange-background {
  background-color: #f56e00 !important; }

.dark-orange-border {
  border-color: #f56e00 !important; }

.text-brown {
  color: #924e31 !important; }

.brown-background {
  background-color: #924e31 !important; }

.brown-border {
  border-color: #924e31 !important; }
