.navbar {
  background: @NavbarBackground;
  height: 40px;
  min-height: 40px;
  border: none;
}

.navbar-header {
  width: 100%;

  .nav {
    float:right;
    margin:0 15px 0 20px;
  }
}

.navbar-default .navbar-nav > li a {
  color: @NavBarTextColor;
  height: 40px;
  min-height: 40px;
  padding: 10px 15px;
  &:hover {
      color: @NavBarTextHoverColor;
      background: @NavBarBackgroundHoverColor;
  }
}

.navbar-default .navbar-nav > li li a {
    height: 26px;
    min-height: 26px;
    padding: 3px 20px;
}

.navbar-default .navbar-nav .active a {
  color: @NavBarTextHoverColor;
  background: @NavbarSelectedBackground;
  &:hover {
    color: @NavBarTextHoverColor;
    background: @NavbarSelectedBackground;
  }
}

.navbar-default .navbar-nav .open a,
.navbar-default .navbar-nav .open a:hover {
  color: @NavBarTextColor;
  background: @NavbarBackground;
}

.navbar-default .navbar-nav .open a:focus {
  color: @NavBarTextColor;
  background: @NavbarSelectedBackground;
}

.navbar-default .navbar-nav .dropdown .dropdown-menu a {
  color: @gray-dark;
  background: #fff;
  &:hover {
      color: #fff;
      background: @BrandPrimary;
  }
}

.navbar-default .navbar-nav .active a {
  color: @NavBarTextHoverColor;
  background: @NavbarSelectedBackground;
  &:hover {
    color: @NavBarTextHoverColor;
    background: @NavbarSelectedBackground;
  }
}

.navbar-default .navbar-toggle {
  border: none;
  color: #222;
  &:hover,
  &:focus {
    background-color: transparent;
    outline: 0;
  }
  .icon-bar {
    background-color: #fff;
  }
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
  color: #222;
  height: 40px;
  min-height: 40px;
  padding: 10px  15px 10px 20px;
}

.navswitch {
  float: left;
  color: #fff;
  padding: 6px 11px;
  display: inline-block;

  &:hover {
    color: #fff;
    background: darken(@BrandPrimary, 5%);
  }
}

.navbar-form {
  margin: 5px 0 0 0;
  padding: 0;
  border: 0;
  position: relative;
}

.navbar-form button {
  position: absolute;
  color: darken(@BrandPrimary, 10%);
  right: 10px;
  top: 6px;
  text-decoration: none;
  padding: 0;
  margin: 0;
  z-index: 1031;
  text-shadow: none;
}

.navbar-form input {
  border-color: darken(@BrandPrimary, 10%);
  color: darken(@BrandPrimary, 10%);
  border: 0;
  height: 30px;
}