@pager-border-radius: 0;

.pagination-row {
  margin-bottom: 10px;
}

.pager {
  margin: 0;
  display: inline-block;
  li {
    > span,
    > a {
      border: 2px solid @pagination-border;
    }
  }
}

.page-count {
  text-align: right;
}

.pagination-text {
  height: 34px;
  line-height: 34px;
}

.limit-form {
  width:140px;

}

.pagination-holder {
  text-align: right;
}
