
@dropdown-caret-color: rgb(38, 38, 38);
@selectize-color-highlight: none;
@selectize-color-dropdown-item-active: @BrandSecondary;
@selectize-color-dropdown-item-active-text: white;
@selectize-color-dropdown-item-create-active-text: white;
@selectize-color-item: @BrandSecondary;
@selectize-color-item-text: #fff;
@selectize-color-item-border: lighten(@BrandSecondary, 5%);
@selectize-padding-item-y: 0;

.selectize-dropdown {
	[data-selectable] {
		cursor: pointer;
		overflow: hidden;
		.highlight {
            text-decoration: underline;
		}
	}
    .caption {
      color: #aaa;
      display: block;
      font-size: 0.9em;
    }
    .active {
      background: @brand-primary !important;
//      color:#fff !important;
      .caption {
        color: #fff !important;
      }
  }
}

.selectize-control {
	&.multi {
		.selectize-input > div {
			.selectize-border-radius(3px);
		}
	}
}
