/* Toggle Styles */

#wrapper {
//  padding-left: 0;
  padding-left: 220px;
  .transition(all 0.5s ease);
  height: 100%;
}

#wrapper.nav-hidden {
//  padding-left: 220px;
  padding-left: 0;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 220px;
//  width: 0;
  width: 220px;
  height: 100%;
  margin-left: -220px;
  overflow-y: hidden;
  background: @NavbarBackground;
  .transition(all 0.5s ease);
}

#wrapper.nav-hidden #sidebar-wrapper {
//  width: 220px;
  width: 0;
}

#page-content-wrapper {
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

#wrapper.nav-hidden #page-content-wrapper {
//  position: absolute;
//  margin-right: -220px;
  position: relative;
    margin-right: 0;
}

/* Sidebar Styles */

.nav-action-link {
  position: absolute;
  right: 10px;
  color: @NavBarTextColor;

  &:hover {
    color: @NavBarTextHoverColor;
  }
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 220px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  height: 24px;
  line-height: 24px;
  padding: 2px 0;
  color: @NavBarTextColor;

  &.nav-heading {
    text-transform: uppercase;
    margin-bottom: 2px;
  }
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: @NavBarTextColor;

  &:hover {
    text-decoration: none;
    color: @NavBarTextHoverColor;
    background: @NavBarBackgroundHoverColor;
  }
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  font-size: 16px;
  line-height: 55px;
  background: @NavbarDarkBackground;
  position: relative;
  margin-bottom: 20px;
}

.sidebar-nav li.sidebar-brand a {
  display: inline;
  color: #fff;

  &.nav-action-link {
    color: @NavBarTextColor;

    &:hover {
      color: @NavBarTextHoverColor;
    }
  }

}

.sidebar-nav > .sidebar-brand li a {
  color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.nav-user {
  position: absolute;
  bottom: 0px;
  height: 65px;
  line-height: 65px;
  color: #fff;
  background: @NavbarDarkBackground;
  display: block;
  width: 100%;
  padding-left: 20px;
  font-size: 14px;

  &:hover {
    cursor: pointer;
  }

  &:hover .nav-action-link {
    color: @NavBarTextHoverColor;;
  }

  .user-avatar {
    display: inline-block;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: @avatarBlue;
    color: @avatarBlueText;
    text-align: center;
    line-height: 35px;
    margin-right: 10px;
  }

  .user-block {
    display: inline-block;
    font-weight: bold;
  }

  a {
    color: @NavBarTextColor;

    &:hover {
      color: @NavBarTextHoverColor;
      cursor: pointer;
    }
  }
}

.user-menu {
  position: absolute;
  bottom: 180px;
  width: 220px;
  margin: 0;
  padding: 0;
  color: #fff;

  a {
    color: #fff;
  }

  ul {
    width: 200px;
    margin-left: 10px;
  }
}

#menu-toggle:hover {
  cursor: pointer;
}

//@media (min-width: 768px) {
//  #wrapper {
//    padding-left: 220px;
//  }
//
//  #wrapper.nav-hidden {
//    padding-left: 0;
//  }
//
//  #sidebar-wrapper {
//    width: 220px;
//  }
//
//  #wrapper.nav-hidden #sidebar-wrapper {
//    width: 0;
//  }
//
//  #wrapper.nav-hidden #page-content-wrapper {
//    position: relative;
//    margin-right: 0;
//  }
//}