body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

.sorted-table tr.placeholder {
  position: relative;
}
.sorted-table tr.placeholder:before {
  position: absolute;
}