
.table {
  border: 1px solid #dddddd;

  tr th {
    background: #fff;
  }

  tr td {
    background: #ffffff;
  }

  tr:hover {
    cursor: pointer;
  }

  caption {
    background: @boxBorder;
    color:#fff;
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    text-align: left;
    font-size: 21px;
    line-height: 50px;
    height: 50px;
    padding-left: 10px;
    font-weight: 200;
  }

  .label {
    font-weight: normal;
    font-size: 14px;
  }
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: lighten(@BrandPrimary, 70%)
}

.row-actions {
  text-align: right;
  a {
    display: inline-block;
    padding-right: 10px;
  }
}