html, body {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
}

/* Sticky footer styles
-------------------------------------------------- */
.fixed-footer {
  position: relative;
  min-height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -210px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 200px;
  border-top: 1px solid #eee;
  padding-top: 4px;
  margin-top: 5px;
}

//----------------------------------------------------------------------------------------------------------------------
//  Login pages
//----------------------------------------------------------------------------------------------------------------------
body.login {
  background: @BrandPrimary;
  position: relative;

  .login-logo {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  h1, h2 {
    color: #fff;
  }

  .btn-primary {
    background-color: @BrandPrimary;
    border-color: #fff;

    &:hover {
      background-color: darken(@BrandPrimary, 5%);
    }
  }

  .login-header {
    padding: 30px 0 40px 0;

    @media (min-width: 768px) {
      padding: 10px 0 40px 0;
    }
  }

  .login-container {
    background-color: #fff;
    position: relative;
    padding: 40px 0;
    .box-shadow(0 1px 3px rgba(0, 0, 0, .3));

    &:before {
      content: "";
      position: absolute;
      margin-left: -10px;
      left: 50%;
      top: -10px;
      border-bottom: 10px solid #fff;
      border-top: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }

    h1, h2 {
      color: #333;
    }
  }

  .title {
    margin: 0;
    margin-bottom: 20px;
  }

  .login-footer {
    padding: 20px 0;
    color: #fff;

    a {
      color: #222;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    }
  }
}

//----------------------------------------------------------------------------------------------------------------------
//  Main content
//----------------------------------------------------------------------------------------------------------------------
.row.main-header {
  height: 55px;
  font-size: 16px;
  line-height: 55px;
  background: #eee;
  color: @MainHeadingText;
  margin-left: -20px;
  margin-right: -20px;

  a {
    color: @MainHeadingText;

    &:hover {
      color: @MainHeadingTextHover;
      text-decoration: none;
    }
  }

  .toggle-link {
    display: inline;
    color: @MainHeadingText;
    padding: 0 20px 0 10px;

    &:hover {
      cursor: pointer;
      color: @MainHeadingTextHover;
    }
  }
}

.row.main-content {
  padding-bottom: 35px; // to clear footer
}

.page-title {
  display: inline;
  font-size: 22px;
  color: @MainHeadingText;
  font-weight: 900;
}

//@media (min-width: 768px) {
//  .row.main-header {
//    .toggle-link {
//      display: none;
//    }
//  }
//}

