@BrandPrimary: #E7232C;
@BrandSecondary: @BrandPrimary;

@NavbarBackground: #123c44;
@NavbarDarkBackground: #04242a;

//@NavbarSelectedBackground: darken(@BrandPrimary, 7%);
@NavBarTextColor: #8fc8d3;
@NavBarTextHoverColor: #eee;
@NavBarBackgroundHoverColor: rgba(255, 255, 255, 0.2);

@brand-primary: @BrandPrimary;

@boxBorder: @BrandPrimary;

@link-color: darken(@BrandPrimary, 55%);

@avatarBlue: #6495ed;
@avatarBlueText: #fff;

@MainHeadingText: @NavbarDarkBackground;
@MainHeadingTextHover: @NavBarTextColor;