.env {
    display: inline-block;
    padding: 0 5px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #ff0000;
    color: #fff;
    z-index: 1001;
    position: absolute;
    top: 500px;
    left: -33px;
    -webkit-transform:rotate(-90deg);
   -moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
     -o-transform:rotate(-90deg);
        transform:rotate(-90deg);
}

.env:after {
    content: " Server";
}

@media (max-width: 767px) {
    .env {
        display: none;
    }
}