{% extends "base.html" %}

{% block content %}
    {%  verbatim %}
    <body ng-app="projecthub" id="top" ng-controller="NavCtrl">

    <div id="wrapper" ng-class="{'nav-hidden': nav.isHidden}">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a ui-sref="hub.activity">Project<strong>Hub</strong></a>
                    <a ng-click="toggleNav($event)" id="menu-toggle" class="nav-action-link">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                </li>

                <!-- nav -->
                <li class="nav-heading"><a ui-sref="hub.activity">Recent Activity</a></li>
                <li></li>
                <li class="nav-heading">Projects</li>
                <li ng-repeat="project in projects">
                    <a ui-sref="hub.project({ projectId: project.id })">
                        # {{ project.title }}
                    </a>
                </li>
                <!-- #nav -->
            </ul>

            <!-- user menu -->
            <div class="user-menu">
                <div class="dropdown" is-open="userNav.isOpen">
                    <a href class=" dropdown-toggle"></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> Profile</a></li>
                        <li><a href="#"><i class="fa fa-cog fa-fw"></i> Preferences</a></li>
                        <li class="divider"></li>
                        <li><a ng-href="/logout" target="_self"><i class="fa fa-power-off fa-fw"></i> Logout</a></li>
                    </ul>
                </div>
            </div>
            <!-- #user menu -->

            <!-- user block -->
            <div class="nav-user" ng-click="activateUserNavToggle($event)">
                <div class="user-avatar">{{ user.initials }}</div>
                <div class="user-block">
                    <strong>{{ user.first_name }}&nbsp;</strong>&nbsp;
                    <!--a ng-href="/logout" target="_self"><i
                            class="fa fa-power-off"></i></a-->
                </div>
                <a ng-click="toggleUserNav($event)" class="nav-action-link" id="user-nav-toggle">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
            <!-- #user block -->
            <span class="env">{{ env.server }}</span>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- page content -->
        <div id="page-content-wrapper">
            <div class="container-fluid fixed-footer">
                <div ui-view></div>
            </div>
        </div>
        <!-- #page content -->

    </div>
    </body>
    {% endverbatim %}
{% endblock %}