<!-- main head -->
<div class="row main-header">
    <div class="col-lg-12">
        <a ng-click="toggleNav($event)" class="toggle-link" ng-show="nav.isHidden">
            <i class="fa fa-bars"></i>
        </a>
        <div class="page-title" ng-bind="viewDetails.title"></div>
    </div>
</div>
<!-- #main head -->

<section ui-view></section>